.bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bookPreview {
  border: 1px solid black;
  margin: 10px;
  width: 22%;
  min-width: 250px;
  max-width: 400px;
  box-shadow: 3px 3px 8px black;
  padding: 5px;
}

.bookPreview img {
  width: 65%;
  max-width: 120px;
}

.bookPreview h4, h5 {
  color: whitesmoke;
  text-shadow: 2px 2px 4px black;
}

