.App {
  text-align: center;
  background: radial-gradient(circle, rgba(231,193,193,1) 0%, rgba(228,151,45,1) 96%);
  min-height: 100vh;
  padding: 20px;
}

.App-title {
  font-size: 3.5em;
  margin-top: 0px;
  color: whitesmoke;
  text-shadow: 3px 3px 4px black;
}

.button {
  border-radius: 0px;
  margin: 20px;
}

.nav-bar {
  margin-top: 0px;
  list-style: none;
}

.nav-bar li {
  display: inline-block;
  margin: 20px;
}

.nav-bar a {
  color: whitesmoke
}

.nav-bar a:hover {
  text-shadow: 2px 0px 4px black;
}