.App {
  text-align: center;
  background: #D3DDE080;
  min-height: 100vh;
  padding: 0px 0px 20px 0px;
}

.App-title {
  font-size: 2.5em;
  font-family: 'Monoton', cursive;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
  color: #182B32;
}

.button {
  border-radius: 0px;
  margin: 20px;
}

.banner { 
  background-color: #FFFFFF;
  width: 100%; 
  height: 75px;
}

.nav-bar {
  margin-top: 0px;
  list-style: none;
  float: right;
  padding-right: 5px;
}

.nav-bar li {
  display: inline-block;
  margin: 20px;
}

.nav-bar a {
  color: #598392;
  text-decoration: none;
  font-size: 16px;
}

.nav-bar a:hover {
  color: #11181B
}

input {
  border: 1px solid gray;
  display: block;
  margin: 10px auto 10px auto;
  width: 300px;
  height: 25px;
  padding-left: 10px;
}

button {
  display: inline-block;
  border: 1px solid #124559;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #598392;
  text-align: center;
  font-size: 14px;
  height: 25px;
  width: fit-content;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button:hover:enabled {
  background-color: #7D99A4;
  color: #fff;
}

button:disabled {
  background-color: lightgray;
  cursor: auto;
}