.createClubForm {
  margin: auto;
}

.createClubForm input {
  width: 350px;
}

.createClubForm hr {
  width: 50%;
  margin-bottom: 20px;
}

.createClubForm h2 {
  color: whitesmoke;
  text-shadow: 2px 2px 4px black;
}