.createClubForm {
  margin: auto;
}

.createClubForm input {
  width: 350px;
  height: 35px;
  margin-bottom: -10px;
}

.createClubForm hr {
  width: 50%;
  margin-bottom: 20px;
}

.createClubForm h2 {
  color: #182B32;
}