.userClubList {
  color: #182B32;
}

.bookClub {
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr 1fr;
  width: 90%;
  color: #182B32;
  margin: auto;
  max-height: 120px;
  overflow: auto;
  border-bottom: 1px solid #7D99A445;
  background-color: #ffffff80
}

.allClubsClub {
  grid-template-columns: 3fr 3fr 1fr
}

.booksTitle {
  text-align: left;
  padding-left: 20px;
}

.titles {
  background-color: #7D99A445;
  max-height: 55px;
  overflow: hidden;
  padding-bottom: 0px;
  color: #182B32
}

.bookClub .titles h4 {
  margin: 0px;
}

.bookClub button {
  display: inline-block;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  font-size: 14px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 25px 5px 0px 5px;
}

.bookClub ul {
  text-align: left;
}

.bookClub button:hover {
  background-color: lightgray;
}