.userClubList {
  color: whitesmoke;
  text-shadow: 2px 2px 4px black;
}

.bookClub {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr;
  background-color: #ffffff90;
  width: 90%;
  margin: 10px auto;
  max-height: 200px;
  overflow: scroll;
}

.bookClub button {
  display: inline-block;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: none;
  color: black;
  text-align: center;
  font-size: 14px;
  height: fit-content;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 25px 5px 0px 5px;
}

.bookClub button:hover {
  background-color: lightgray;
}